@model BudgetCategoryDto

<div class="card card-default mb-3" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">@Model.ShortName</h3>
        <span class="list-group-item">@Model.Description</span>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg details_button"
           data-id="@Model.Id" data-toggle="modal" data-target="#createModal"
           id="detailsButton_@(Model.Id)">
            <i class="oi oi-zoom-in"></i>
        </a>
        <a class="btn btn-lg edit_button"
           data-id="@Model.Id" data-toggle="modal" data-target="#createModal"
           id="editButton_@(Model.Id)">
            <i class="oi oi-brush"></i>
        </a>
        <a class="btn btn-lg delete_button"
           data-id="@Model.Id" data-toggle="modal" data-target="#createModal"
           id="deleteButton_@(Model.Id)">
            <i class="oi oi-trash"></i>
        </a>
    </div>
</div>



