@model ExpenseForCreateDto

<div class="modal-body">
    <div id="addCategory" class="collapse fade">
        <div class="card card-body">
            <form id="createCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.BudgetCategory.ShortName" class="control-label">Category Title</label>
                    <input asp-for="@Model.BudgetCategory.ShortName" class="form-control" spellcheck="true" id="cat_shortname" />
                    <span asp-validation-for="@Model.BudgetCategory.ShortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.BudgetCategory.Description" class="control-label"></label>
                    <input asp-for="@Model.BudgetCategory.Description" class="form-control" spellcheck="true" id="cat_description" />
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-primary" id="categorySubmit" data-id="@Model.Id">Create</button>
            </form>
        </div>
    </div>
    <form method="post" asp-page="/Expenses/Create" id="createExpense">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.ShortName" class="control-label"></label>
            <input asp-for="@Model.ShortName" class="form-control" spellcheck="true" />
            <span asp-validation-for="@Model.ShortName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BudgetCategory"></label>
            <select asp-for="ReturnedCategoryId" class="form-control"
                    asp-items="@Model.Categories"></select>
            <button type="button" class="btn btn-outline-info btn-sm mt-1"
                    data-toggle="collapse" data-target="#addCategory"
                    role="button" aria-expanded="false" aria-controls="addCategory">
                <i class="oi oi-plus"></i>
                New Category
            </button>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description" class="control-label"></label>
            <input asp-for="@Model.Description" class="form-control" spellcheck="true" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AmountPlanned" class="control-label"></label>
            <input asp-for="@Model.AmountPlanned" class="form-control" />
            <span asp-validation-for="@Model.AmountPlanned" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AmountSpent" class="control-label"></label>
            <input asp-for="@Model.AmountSpent" class="form-control" />
            <span asp-validation-for="@Model.AmountSpent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CompanyName" class="control-label"></label>
            <input asp-for="@Model.CompanyName" class="form-control" spellcheck="true" />
            <span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PayoutAccountNumber" class="control-label"></label>
            <input asp-for="@Model.PayoutAccountNumber" class="form-control" />
            <span asp-validation-for="@Model.PayoutAccountNumber" class="text-danger"></span>
        </div>
    </form>
</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="createExpense">Create</button>
        </div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(function () {
        $("#categorySubmit").click(function (env) {
            var modelId = $(this).data('id');
            var category = new Object();
            category.shortName = $('#cat_shortname').val();
            category.description = $('#cat_description').val();
            $.ajax({
                async: true,
                url: 'Api/BudgetCategories',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(category),
                success: function (data, textStatus, xhr) {
                    $('.collapse').collapse("hide");
                    $('#modalSection').load('/Expenses/Index?handler=CreateNewPartial');
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        });
    });
</script>