@using Microsoft.EntityFrameworkCore
@using YourDollarR2.Dtos
@model BudgetDto

<div class="card card-default mb-5" style="width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">@Model.ShortName</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            @Model.CycleStartDate.ToString("d") through @Model.CycleEndDate.ToString("d")
        </h6>
        <p class="text-body mt-2">@Model.Description</p>
        <p class="text-center text-info">@Model.AllottedFunds.ToString("C")</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg" asp-page="./Detail"
           asp-route-budgetId="@Model.Id">
            <i class="oi oi-zoom-in"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Edit"
           asp-route-budgetId="@Model.Id">
            <i class="oi oi-brush"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Delete"
           asp-route-budgetId="@Model.Id">
            <i class="oi oi-trash"></i>
        </a>
    </div>
</div>

