@page "{budgetId:guid}"
@model YourDollarR2.Pages.Budgets.DetailModel
@{
    ViewData["Title"] = "Budget Detail";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div class="card card-header">
    <h1>@Model.Budget.ShortName</h1>
</div>
<div class="card-body">
    <span>Start Date: @Model.Budget.CycleStartDate</span>
    <span>End Date: @Model.Budget.CycleEndDate</span>
    <span>Description: @Model.Budget.Description</span>
    <span>Funds: @Model.Budget.Funds</span>
</div>
<div class="card-footer">
    <a asp-page="./List" class="btn btn-light">See all budgets.</a>
</div>


