@page "{budgetId:Guid?}"
@model YourDollarR2.Pages.Budgets.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing: @Model.Budget.ShortName</h1>

<form method="post">
    <input type="hidden" asp-for="Budget.Id" />
    <div class="form-group">
        <label asp-for="Budget.ShortName"></label>
        <input asp-for="Budget.ShortName" class="form-control" />
        <span class="text-danger" asp-validation-for="Budget.ShortName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Budget.Description"></label>
        <input asp-for="Budget.Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Budget.Description"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Budget.CycleStartDate)
        @Html.EditorFor(model => model.Budget.CycleStartDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Budget.CycleStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Budget.CycleEndDate)
        @Html.EditorFor(model => model.Budget.CycleEndDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Budget.CycleEndDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label asp-for="Budget.Funds"></label>
        <input asp-for="Budget.Funds" class="form-control" />
        <span class="text-danger" asp-validation-for="Budget.Funds"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts
{
    <environment include="Development">
        <script src="~/node_modules/gijgo/js/gijgo.min.js"></script>
        <link href="~/node_modules/gijgo/css/gijgo.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <script src="~/node_modules/gijgo/js/gijgo.min.js"></script>
        <link href="~/node_modules/gijgo/css/gijgo.min.css" rel="stylesheet" />
    </environment>

    <script>
        $(function () {
            $('#CycleStartDate').datepicker({
                uiLibrary: 'bootstrap4'
            });
        });
        $(function () {
            $('#CycleEndDate').datepicker({
                uiLibrary: 'bootstrap4'
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}

