@model  BudgetDto

    <div class="modal-body">
        <div class="card card-default mb-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">@Html.DisplayFor(m => m.ShortName)</h3>
                <span class="list-group-item">@Html.DisplayFor(m => m.CycleStartDate)</span>
                <span class="list-group-item">@Html.DisplayFor(m => m.CycleEndDate)</span>
                <span class="list-group-item">@Html.DisplayFor(m => m.AllottedFunds)</span>
                <span class="list-group-item">@Html.DisplayFor(m => m.AllocatedFunds)</span>
                <span class="list-group-item">@Html.DisplayFor(m => m.UnAllocatedFunds)</span>
                @foreach (var expense in Model.Expenses)
                {
                    <span class="list-group-item">@expense.ShortName</span>
                    <span class="list-group-item">@expense.Description</span>
                    <span class="list-group-item">@expense.BudgetCategory.ShortName</span>
                    <span class="list-group-item">@expense.PayoutAmount</span>
                    <span class="list-group-item">@expense.PayoutAccountNumber</span>
                    <span class="list-group-item">@expense.CompanyName</span>
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-lg" data-dismiss="modal" data-target="#createModal">
                    <i class="oi oi-circle-x"></i>
                </a>
            </div>
        </div>
    </div>
