@model BudgetDto

<div class="card mb-5">
    <div class="card-body">
        <h3 class="card-title">@Html.DisplayFor(m => m.ShortName)</h3>
        <h6 class="card-text mb-2 text-muted">
            @Html.DisplayFor(m => m.CycleStartDate) - @Html.DisplayFor(m => m.CycleEndDate)
        </h6>
        <hr />
        <h5 class="card-text">
            @Html.DisplayFor(m => m.Description)
        </h5>
        <p class="card-text">
            Allocated Funds: @Html.DisplayFor(m => m.AllocatedFunds)
        </p>
        <p class="card-text">
            Expenses attached: @Model.Bills.Count()
        </p>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg details_button" asp-page="./Dashboard"
           asp-route-budgetId="@Model.Id">
            <i class="oi oi-zoom-in"></i>
        </a>
        <a class="btn btn-lg edit_button"
           data-id="@Model.Id" data-toggle="modal" data-target="#createModal"
           id="editButton_@(Model.Id)">
            <i class="oi oi-brush"></i>
        </a>
        <a class="btn btn-lg delete_button"
           data-id="@Model.Id" data-toggle="modal" data-target="#createModal"
           id="deleteButton_@(Model.Id)">
            <i class="oi oi-trash"></i>
        </a>
    </div>
</div>