@page
@model YourDollarR2.Pages.BudgetsR2.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Budget</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.CycleStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget.CycleStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.CycleEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget.CycleEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.AllottedFunds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget.AllottedFunds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.OwnerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget.OwnerEmail)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Budget.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
