@using Microsoft.EntityFrameworkCore
@using YourDollarR2.Dtos
@model ExpenseDto

<div class="card card-default mb-5" style="width: 20rem;">
    <div class="card-body">
        <h3 class="card-title">@Model.ShortName</h3>
        <h6 class="card-subtitle mb-2 text-muted">
            <a class="btn btn-sm btn-outline-info" asp-page=".\Edit" asp-route-expenseId="@Model.Id">
                @Model.BudgetCategory.ShortName
            </a>
        </h6>
        <span class="list-group-item">Description: @Model.Description</span>
       
    </div>
    <div class="card-footer">
        <a class="btn btn-lg" asp-page="Details"
           asp-route-expenseId="@Model.Id">
            <i class="oi oi-zoom-in"></i>
        </a>
        <a class="btn btn-lg" asp-page="Edit"
           asp-route-expenseId="@Model.Id">
            <i class="oi oi-brush"></i>
        </a>
        <a class="btn btn-lg" asp-page="Delete"
           asp-route-expenseId="@Model.Id">
            <i class="oi oi-trash"></i>
        </a>
    </div>
</div>

