@page "{expenseId:guid}"
@model YourDollarR2.Pages.ExpensesR2.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.PayoutAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.PayoutAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.PayoutAccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.PayoutAccountNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expense.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
